.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  /* background-color: aquamarine; */
  display: block;
}

.logo {
  background-color: #293846;
  margin-left: 50px;
  size: 50px;
}

.content {
  margin-left: 350px;
}

.btn1 {
  margin-left: 180px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn2 {
  width: 70px;
  margin-right: 170px;
  margin-bottom: 20px;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #2f4050;
}

.Appbar {
  width: 100%;
  height: 25px;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarListRow {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Aria, sans-serif;
}

.SidebarListRow:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.SidebarListRow #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarListRow #title {
  flex: 70%;
}
